@{
    ViewData["Title"] = "Sou Cliente";
}
<div class="clientFirstPage"> @* Div principal da página *@
    <div class="CardapioContent"> @* Div que contém o cardápio *@
        <div class="retangularProduct"> @* Div que contém o produto *@
            <div class="ProductIMG"> @* Div que contém a imagem do produto *@
                <img src="" alt="IMG AQUI               ">
            </div>
            <div class="descriptionProduct"> @* Div que contém a descrição do produto *@
                <h2>Nome do Produto</h2>
                <p>Descrição do produto, ingredientes, etc.</p>
                <span class="priceTag">R$ XX,XX</span>
                <a href="#" class="addToCar">Adicionar ao Carrinho</a>
            </div>
        </div>
        <div class="retangularProduct"> @* Div que contém o produto *@
            <div class="ProductIMG"> @* Div que contém a imagem do produto *@
                <img src="" alt="IMG AQUI               ">
            </div>
            <div class="descriptionProduct"> @* Div que contém a descrição do produto *@
                <h2>Nome do Produto</h2>
                <p>Descrição do produto, ingredientes, etc.</p>
                <span class="priceTag">R$ XX,XX</span>
                <a href="#" class="addToCar">Adicionar ao Carrinho</a>
            </div>
        </div>
        <div class="retangularProduct"> @* Div que contém o produto *@
            <div class="ProductIMG"> @* Div que contém a imagem do produto *@
                <img src="" alt="IMG AQUI               ">
            </div>
            <div class="descriptionProduct"> @* Div que contém a descrição do produto *@
                <h2>Nome do Produto</h2>
                <p>Descrição do produto, ingredientes, etc.</p>
                <span class="priceTag">R$ XX,XX</span>
                <a href="#" class="addToCar">Adicionar ao Carrinho</a>
            </div>
        </div>
    </div>
    <div class="CardapioContent"> @* Div que contém o cardápio *@
        <div class="retangularProduct"> @* Div que contém o produto *@
            <div class="ProductIMG"> @* Div que contém a imagem do produto *@
                <img src="" alt="IMG AQUI               ">
            </div>
            <div class="descriptionProduct"> @* Div que contém a descrição do produto *@
                <h2>Nome do Produto</h2>
                <p>Descrição do produto, ingredientes, etc.</p>
                <span class="priceTag">R$ XX,XX</span>
                <a href="#" class="addToCar">Adicionar ao Carrinho</a>
            </div>
        </div>
        <div class="retangularProduct"> @* Div que contém o produto *@
            <div class="ProductIMG"> @* Div que contém a imagem do produto *@
                <img src="" alt="IMG AQUI               ">
            </div>
            <div class="descriptionProduct"> @* Div que contém a descrição do produto *@
                <h2>Nome do Produto</h2>
                <p>Descrição do produto, ingredientes, etc.</p>
                <span class="priceTag">R$ XX,XX</span>
                <a href="#" class="addToCar">Adicionar ao Carrinho</a>
            </div>
        </div>
        <div class="retangularProduct"> @* Div que contém o produto *@
            <div class="ProductIMG"> @* Div que contém a imagem do produto *@
                <img src="" alt="IMG AQUI               ">
            </div>
            <div class="descriptionProduct"> @* Div que contém a descrição do produto *@
                <h2>Nome do Produto</h2>
                <p>Descrição do produto, ingredientes, etc.</p>
                <span class="priceTag">R$ XX,XX</span>
                <a href="#" class="addToCar">Adicionar ao Carrinho</a>
            </div>
        </div>
    </div>
</div>