@{
    ViewData["Title"] = "Index";
}

<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</header>


<div class="clientFirstPage">
    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/hamburguer.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>BUENO BURGER</h1>
            <p>Ingredientes: Alface,Tomate,Carne de Hamburguer,Queijo e Pão</p>
            <span class="priceTag">R$ 29,00</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>

    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/classico.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>CLASSICO BURGUER</h1>
            <p>Ingredientes: Alface, Queijo Duplo, Carne Dupla e Pão</p>
            <span class="priceTag">R$ 33,90</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>

    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/FileFrango.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>Tudão File de Frango</h1>
            <p>Tudão com File de Frango, Calabresa, Queijo, Presunto, Ovo e Alface</p>
            <span class="priceTag">R$ 40,00</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>
    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/hamburguer.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>BUENO BURGER</h1>
            <p>Ingredientes: Alface,Tomate,Carne de Hamburguer,Queijo e Pão</p>
            <span class="priceTag">R$ 29,00</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>

    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/classico.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>CLASSICO BURGUER</h1>
            <p>Ingredientes: Alface, Queijo Duplo, Carne Dupla e Pão</p>
            <span class="priceTag">R$ 33,90</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>

    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/FileFrango.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>Tudão File de Frango</h1>
            <p>Tudão com File de Frango, Calabresa, Queijo, Presunto, Ovo e Alface</p>
            <span class="priceTag">R$ 40,00</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>
    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/hamburguer.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>BUENO BURGER</h1>
            <p>Ingredientes: Alface,Tomate,Carne de Hamburguer,Queijo e Pão</p>
            <span class="priceTag">R$ 29,00</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>

    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/classico.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>CLASSICO BURGUER</h1>
            <p>Ingredientes: Alface, Queijo Duplo, Carne Dupla e Pão</p>
            <span class="priceTag">R$ 33,90</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>

    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/FileFrango.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>Tudão File de Frango</h1>
            <p>Tudão com File de Frango, Calabresa, Queijo, Presunto, Ovo e Alface</p>
            <span class="priceTag">R$ 40,00</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>
    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/FileFrango.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>Tudão File de Frango</h1>
            <p>Tudão com File de Frango, Calabresa, Queijo, Presunto, Ovo e Alface</p>
            <span class="priceTag">R$ 40,00</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>
    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/FileFrango.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>Tudão File de Frango</h1>
            <p>Tudão com File de Frango, Calabresa, Queijo, Presunto, Ovo e Alface</p>
            <span class="priceTag">R$ 40,00</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>
    <div class="retangularProduct">
        <div class="ProductIMG">
            <img src="/img/FileFrango.jpg" alt="">
        </div>
        <div class="descriptionProduct">
            <h1>Tudão File de Frango</h1>
            <p>Tudão com File de Frango, Calabresa, Queijo, Presunto, Ovo e Alface</p>
            <span class="priceTag">R$ 40,00</span>
            <a href="#" class="addToCar">Adicionar ao Carrinho</a>
        </div>
    </div>
</div>
<!-- Botão no fim da página -->
<div class="finalizar-container">
    <a asp-action="Cart" asp-controller="User" role="button" class="btn-carrinho">
        🛒 Ir para o Carrinho
    </a>
</div>

</div>