@{
    ViewData["Title"] = "Cart";
}


<style>
    .card-login {
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        padding: 40px;
        width: 100%;
        max-width: 400px;
    }

    .card-login h2 {
        font-weight: bold;
        color: #333;
        margin-bottom: 30px;
        text-align: center;
    }

    .container-center{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<div class="container-center">
    <div class="card-login">
        <h2>Acesso do Administrador</h2>
        <form id="loginForm">
            <div class="mb-3">
                <label for="username" class="form-label">Usuário</label>
                <input type="text" class="form-control" id="username" placeholder="Digite seu usuário">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
            </div>
            <div id="mensagemErro" class="alert alert-danger d-none" role="alert">
                Usuário ou senha incorretos.
            </div>
            <a asp-action="AdmDashboard" asp-controller="Adm" role="button" class="loginButton" id="btn-login">Entrar</a>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById('loginForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Impede o envio do formulário

        // Variáveis predefinidas
        const usuarioCorreto = "admin";
        const senhaCorreta = "1234";

        // Pega os valores digitados pelo usuário
        const usuarioDigitado = document.getElementById('username').value;
        const senhaDigitada = document.getElementById('password').value;

        const mensagemErro = document.getElementById('mensagemErro');

        if (usuarioDigitado === usuarioCorreto && senhaDigitada === senhaCorreta) {
            // Se o login for bem-sucedido
            mensagemErro.classList.add('d-none'); // Oculta a mensagem de erro
            alert("Login realizado com sucesso!");
            window.location.href = "@Url.Action("AdminDashboard", "Home")"; // Redireciona para a página do admin
        } else {
            // Se o login falhar
            mensagemErro.classList.remove('d-none'); // Exibe a mensagem de erro
        }
    });
</script>