@{
    ViewData["Title"] = "Home Page";
}

<div class="first-page">
        <button class="loginButton">Sou Adm</button>
        <a asp-action="Index" asp-controller="User" class="loginButton">Sou Cliente</a>
        <button class="loginButton">Sou Cozinheiro</button>
</div>
