@{
    ViewData["Title"] = "Home Page";
}




<div class="first-page">
    <a asp-action="AdmLogin" asp-controller="Adm" class="loginButton">Sou Adm</a>
    <a asp-action="Index" asp-controller="User" class="loginButton">Sou Cliente</a>
    <a class="loginButton">Sou Cozinheiro</a>
</div>
